.delivery-container {
    padding-block: 1rem;
    margin-top: 5rem;
    max-width: 19rem;
    padding-block-end: 2rem !important;
   

    background: #f9fafb;
    border-radius: 12px;
    box-shadow: 3px 10px 10px 10px rgba(10, 5, 5, 0.1);
    text-align: center;
}
  
  .modal-img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  p {
    margin: 4px;
    font-size: 1rem;
    color: #4b5563;
    margin-bottom: 2px;
  }
  
  .btn-close {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .btn-close:hover {
    background-color: #315ab2;
  }