.all-Product{
    margin-top: 1.5rem ;
    padding: 12px;
}
@media (max-width: 480px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }