
/* Make the header more responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: flex;
    align-items: center;
  }

  .nav {
    flex-direction: flex;
    gap: 0.5rem;
    width: 100%;

    display: flex;
        align-items: center;
        justify-content: end;
  }

  /* .profile {
    margin-top: 1rem;
  } */

  .btn-login, .btn-signup, .btn-logout {
    width: 30%;
    padding: 0;
    margin-top: 0;
   
  }
}

@media (max-width: 480px) {
  .logo a {
    font-size: 1.2rem; /* Smaller logo on small screens */
  }

  .nav a {
    padding: 0.5rem; /* Slightly reduced padding */
    font-weight: 700;
    font-size: 12px;
  }
}

.logo.product-list {
  font-size:15px; 
  font-weight: bold;
}

.logo.product-list a {
  background: linear-gradient(45deg, rgb(27, 2, 255), rgb(255, 5, 26), rgb(0, 255, 21), rgb(239, 199, 69), rgb(255, 255, 255), rgb(48, 4, 48));
  -webkit-background-clip: text; /* Required for WebKit-based browsers (like Chrome and Safari) */
  color: transparent; /* Make text color transparent so gradient shows through */
  animation: rainbow 5s ease infinite; /* Animation for color change */
  background-size: 300% 300%; /* Make gradient large to animate smoothly */
}

/* Keyframes for the rainbow effect */
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/*  */

/* src/components/Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #e9e5e4;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.menu-wrapper {
  position: relative;
}

.menu-btn {
  width: 3rem;
  font-size: 30px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 3.5em;

  right: -13px;
  background: #585353;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex
;
  flex-direction: column;
  min-width: 147px;
  z-index: 10;
}

.dropdown a,
.dropdown button {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.dropdown a:hover,
.dropdown button:hover {
  background: #b66464;
}

/*  */